body {
  margin: 0px;
  padding: 0px;
  font-family: FiraSans, sans-serif;
  background-color: #ececec;
}

.bitmap {
  width: 484px;
  height: 350px;
  margin-bottom: 0px;
  float: left;
}
.black {
  background-color: #161616;
  text-align: center;

}

button {
  background-color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
  color: #3e4247;
  font-size:16px;
  text-align: center;
  color: white;
  border: 0;
}

.card1 {
  background-color: white;
  margin-top: 64px;
}

.clearfix:after {
  content:'';
  display: table;
  width: 100%;
  clear: both;
}

.compass-logo {
  padding-top: 20px;
  padding-bottom: 19px;
  float: left;
}

.compass-development-logo {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.discover {
  color: #3e4247;
  padding-top: 44px;
}

.east {
  margin-top: 24px;
  margin-left: 32px;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
}

.mavenue {
  margin-top: 24px;
  margin-left: 32px;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
}

.midtown {
  float: left;
}

nav {
  float: right;
  margin-top: 24px;
}

.navigation a {
  color: black;
  text-decoration: none;
}

.navigation a {
  color: #3e4247;
}

.header {
  background-color: white;
}

.layer {
  margin-right: 32px;
}

p {
  color: #3e4247;
  font-size:16px;
  font-family: FiraSans;
  text-align: center;
}

.row {
  justify-content: center;
}

.south {
  color: #646971;
  text-transform: uppercase;
  font-family: Monaco;
  font-size: 16px;
  margin-top: 24px;
  margin-left: 32px;
  margin-bottom: 0px;
  float: left;

}

.southdescr {
  color: #3e4247;
  margin-top: 24px;
  margin-left: 32px;
  float: left;
  text-align: left;
}

.test {
  background-color: grey;
}



