body {
  padding: 0px;
  font-family: "Fira Sans", sans-serif;
  background-color: #eaebf0;
  background-image: url(./background.png);
  background-repeat: repeat;
  background-size: 50%;
}

.header {
  background-color: white;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header-nav {
  margin-left: auto;
  text-align: right;
}

.header-link {
  margin-right: 1.5rem;
  font-size: 1rem;
  color: #3e4247;
  text-decoration: none;
}

.header-link-end {
  font-size: 1rem;
  color: #3e4247;
  text-decoration: none;
}

.header-logo {
  height: 1.5rem;
}

.development {
  background-color: #161616;
  text-align: center;
}

.development-logo {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.discover-heading {
  margin-top: 4rem;
  margin-bottom: 0;
  font-weight: bold;
  color: #3e4247;
  font-family: "Fira Sans";
  font-size: 1.5rem;
}


.discover-info {
  margin-top: 0.5rem;
  font-family: 'Fira Sans';
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #3e4247;
}

.discover-button {
  background-color: black;
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Fira Sans', sans-serif;
  font-size:1rem;
  text-align: center;
  color: white;
  border: 0;
}

.card {
  display: flex;
  background-color: white;
  margin-bottom: 3rem;
  text-decoration: none;
}

.hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card-details {
  border-bottom: 2px solid #646971;
}

.card-district {
  text-transform: uppercase;
  color: #646971;
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  font-family: "Monaco", "Menlo", "Consolas", monospace;
  font-size: 1rem;
}

.card-address {
  color: #000000;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  font-family: "Fira Sans";
  font-weight: bold;
  font-size: 40px;
  line-height: 1.4;
}

.card-text {
  margin-left: 2rem;
  margin-right: 5.375rem;
  color: #3e4247;
  font-family: "Fira Sans";
  line-height: 1.5;
}

.card-img {
  width: 484px;
  height: 350px;
}

.footer {
  background-color: #111111;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-heading {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  color: #646971;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
}

.footer-info {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: 300;
  color: #a9afb6;
}

.footer-nav {
  border-top: solid 2px #3e4247;
  padding-top: 1rem;
}

.footer-nav-heading {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  color: #646971;
  margin-bottom: 7px;
  margin-top: 1rem;
}

.footer-link {
  display: block;
  text-decoration: none;
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: 300;
  color: white;
  margin-bottom: 1rem;
}

.margin {
  margin-top: 1.5rem;
}

.footer-rights {
  font-family: "Fira Sans";
  font-size: 11px;
  font-weight: 300;
  color: #a9afb6;
  line-height: 1.5;
  padding-top: 4.3rem;
}