.black {
	height: 291px;
	background-color: #161616;
}

body{
	margin: 0px;
}

.Rectangle-2 {
	width: 193px;
  	height: 40px;
  	border-radius: 2px;
  	background-color: #000000;
  	background-color: var(--black-two);
}
.compass-logo {
	padding-left: 128px;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 179px;
	height: 24px;
}

.compass-development-logo {
	width: 418.9px
	height: 131px;
	padding-top: 80px;
	padding-left: 511px;
}

.Discover-Our-New-Dev {
  width: 356px;
  height: 37px;
  font-family: FiraSans;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #3e4247;
  color: var(--charcoal-grey);
}

.layer1 {
  width: 52px;
  height: 16px;
  font-family: FiraSans;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #3e4247;
  color: var(--charcoal-grey);
}

.layer2 {
  width: 43px;
  height: 16px;
  font-family: FiraSans;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #3e4247;
  color: var(--charcoal-grey);
}

.layer3 {
  width: 99px;
  height: 16px;
  font-family: FiraSans;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #3e4247;
  color: var(--charcoal-grey);
}

.thirdblock {
	text-align: center;
}

