body {
  padding: 0px;
  font-family: "Fira Sans", sans-serif;
  background-color: white;
}

.header {
  background-color: white;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: solid 1px #eaebf0;
}

.header-logo {
  height: 1.5rem;
}

.header-nav {
  margin-left: auto;
  text-align: right;
}

.header-link {
  margin-right: 1.5rem;
  font-size: 1rem;
  color: #3e4247;
  text-decoration: none;
}

.header-link-end {
  font-size: 1rem;
  color: #3e4247;
  text-decoration: none;
}

.complex-main {
  padding-top: 1.5rem;
  display: flex;
  align-items: flex-start;
}

.complex-title {
  font-family: "Philosopher";
  font-size: 2rem;
  font-weight: bold;
  color: #3e4247;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.complex-button {
  margin-left: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Fira Sans";
  font-size: 10px;
  font-weight: 300;
  color: #00779a;
  background-color: white;
  border: solid 1px #e0e0e1;
  border-radius: 2px;
}

.complex-adress {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: 300;
  color: #a9afb6;
  margin-top: 0;
  margin-bottom: 1rem;
}

.images {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
}

.complex-details {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  border-bottom: solid 1px #e0e0e1;
}

.complex-info {
  margin-right: 3rem;
}
.complex-heading {
  font-family: "Philosopher";
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.13;
  color: #3e4247;
  margin-top: 0;
  margin-bottom: 0px;
}

.complex-heading-small {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.57;
  color: #a9afb6;
  display: block;
  margin-top: 0.625rem;
  margin-bottom: 0px;
}

.character-heading {
  font-family: "Philosopher";
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.13;
  color: #3e4247;
  margin-top: 2rem;
  display: block;
}

.character-list {
  margin-bottom: 3rem;
}

.character-static {
  font-family: "Fira Sans";
  font-size: 1rem;
  line-height: 1.38;
  color: #a9afb6;
  margin-bottom: 11px;
}

.character-dynamic {
  font-family: "Fira Sans";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.56;
  color: #3e4247;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.description {
  display: flex;
  border-bottom: solid 1px #e0e0e1;
}

.description-heading {
  font-family: "Philosopher";
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.13;
  color: #3e4247;
  margin: 0;
}

.description-text {
  margin-top: 0;
  font-family: "Fira Sans";
  font-size: 1rem;
  line-height: 1.56;
  color: #3e4247;
  margin-bottom: 2rem;
}

.description-text:last-child {
  margin-bottom: 1.5rem;
}

.infrastructure {
  margin-top: 2rem;
}

.infrastructure-heading {
  font-family: "Philosopher";
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.13;
  color: #3e4247;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
}

.infrastructure-item {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.38;
  color: #3e4247;
}

.offers {
  background-color: #f4f5f9;
  margin-top: 3.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.offers-card {
  background-color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.offers-heading {
  display: flex;
  justify-content: center;
  font-family: Philosopher;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.13;
  color: #3e4247;
}

.offers-card-heading {
  font-family: "Philosopher";
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.1;
  color: #3e4247;
  margin: 0;
  margin-bottom: 1.5rem;
}

.offers-card-static {
  font-family: "Fira Sans";
  font-size: 1rem;
  line-height: 1.38;
  color: #a9afb6;
  margin: 0;
  margin-bottom: 0.625rem;
}

.offers-card-dynamic {
  font-family: "Fira Sans";
  font-size: 1rem;
  line-height: 1.38;
  color: #3e4247;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.offers-button {
  margin-top: 0.5rem;
  margin: 0 auto;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2.625rem;
  padding-right: 2.625rem;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.0;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}










.footer {
  background-color: #111111;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-heading {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  color: #646971;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
}

.footer-info {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: 300;
  color: #a9afb6;
}

.footer-nav {
  border-top: solid 2px #3e4247;
  padding-top: 1rem;
}

.footer-nav-heading {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  color: #646971;
  margin-bottom: 7px;
  margin-top: 1rem;
}

.footer-link {
  display: block;
  text-decoration: none;
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: 300;
  color: white;
  margin-bottom: 1rem;
}

.margin {
  margin-top: 1.5rem;
}

.footer-rights {
  font-family: "Fira Sans";
  font-size: 11px;
  font-weight: 300;
  color: #a9afb6;
  line-height: 1.5;
  padding-top: 4.3rem;
}
