body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: #3e4247;
  background-color: white;
}

.header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: white;
  border-bottom: solid 1px #eaebf0;
}

.header-logo {
  height: 1.5rem;
}

.header-nav {
  text-align: right;
}

.header-link {
  margin-right: 1.5rem;
  font-size: 1rem;
  color: #3e4247;
  text-decoration: none;
}

.header-link:last-child {
  margin-right: 0;
}

.complex-name {
  margin-bottom: 0;
  margin-top: 25px;
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
}

.complex-adress {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.57;
  color: #a9afb6;
}

.complex-button {
  align-self: flex-start;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.625rem;
  margin-top: 1.5rem;
  font-weight: 300;
  line-height: 1.0;
  color: #00779a;
  background-color: white;
  border: solid 1px #e0e0e1;
  border-radius: 2px;
  cursor: pointer;
}

.complex-gallery {
  display: flex;
}

.gallery-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 1.0;
  color: white;
  border: none;
  border-radius: 2px;
  background-color: #00779a;
}

.gallery-button-margin {
  margin-top: -2.5rem;
}

.details {
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 1.6rem;
  border-bottom: solid 1px #e0e0e1;
}

.details-item {
  margin-right: 3rem;
}

.details-heading {
  margin: 0;
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  line-height: 1.13;
  color: #3e4247;
}

.details-heading-small {
  display: block;
  margin-top: 0.6rem;
  font-family: "Fira Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.57;
  color: #a9afb6;
}

.charasteristics {
  padding-bottom: 2.5rem;
}

.charasteristics-heading {
  margin-top: 2.3rem;
  margin-bottom: 0;
  padding-bottom: 1.125rem;
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3e4247;
}

.charasteristics-list {
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.charasteristics-key {
  margin-bottom: 0.7rem;
  flex: 0 0 50%;
  font-size: 1rem;
  color: #a9afb6;
  line-height: 1.38;

}

.charasteristics-value {
  margin-left: auto;
  text-align: left;
  flex: 0 0 50%;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.56;
  color: #3e4247;
}


.description {
  margin-bottom: 1.5rem;
  padding-bottom:
}

.description-heading {
  margin: 0;
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.13;
  color: #3e4247;
}

.description-text {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.56;
  color: #3e4247;
}

.description-text:last-child {
  margin-bottom: 0;
}

.structure {
  padding-bottom: 3.5rem;
  border-top: solid 1px #eaebf0;
}

.structure-heading {
  margin-top: 2.2rem;
  margin-bottom: 1rem;
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.13;
  color: #3e4247;
}

.structure-item {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.38;
  color: #3e4247;
}

.offers {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f4f5f9;
}

.offers-heading {
  margin: 0;
  margin-bottom: 1.5rem;
  font-family: Philosopher, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.13;
  color: #3e4247;
  text-align: center;
}

.offers-card {
  padding: 1.5rem 2rem;
  background-color: white;
}

.offers-card-heading {
  margin: 0;
  margin-bottom: 1.5rem;
  font-family: Philosopher, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.1;
  color: #3e4247;
}

.offers-card-key {
  display: block;
  margin: 0;
  margin-bottom: 0.7rem;
  font-size: 1rem;
  line-height: 1.38;
  color: #a9afb6;
}

.offers-card-value {
  display: block;
  margin: 0;
  margin-top: 1.4rem;
  font-size: 1rem;
  line-height: 1.38;
  color: #3e4247;
}

.offers-button {
  display: block;
  margin: 0 auto;
  margin-top: 2.2rem;
  padding: 0.75rem 2rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.0;
  color: white;
  text-align: center;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.jakimanka {
  padding-top: 4rem;
  padding-bottom: 13.625rem;
  margin-bottom: 13.5rem;
  background-color: #3e4247;
  color: white;
}

.jakimanka-heading {
  margin: 0;
  margin-top: 7.5rem;
  margin-bottom: 3rem;
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #a9afb6;
}

.jakimanka-description {
  margin: 0;
  margin-bottom: 3rem;
  font-family: "Philosopher", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.25;
  color: #ffffff;
}

.jakimanka-link {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  color: #00779a;
  text-decoration: none;
}

.jakimanka-map {
  position: absolute;
  margin-top: 4rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.jakimanka-card {
  position: absolute;
  width: 36.5rem;
  margin-top: 4rem;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.jakimanka-card-item {
  padding: 1.5rem;
  padding-bottom: 1.57rem;
  border-bottom: solid 1px #e0e0e1;
}

.jakimanka-card-item:last-child {
  border-bottom: 0;
}

.jakimanka-card-location {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.38;
  color: #3e4247;
}

.jakimanka-card-distance {
  margin: 0;
  font-size: 1rem;
  line-height: 1.38;
  color: #a9afb6;
}

.footer {
  background-color: #111111;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-heading {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  color: #646971;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
}

.footer-info {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: 300;
  color: #a9afb6;
}

.footer-nav {
  border-top: solid 2px #3e4247;
  padding-top: 1rem;
}

.footer-link {
  display: block;
  text-decoration: none;
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: 300;
  color: white;
  margin-bottom: 1rem;
}
.footer-margin {
  margin-top: 1.5rem;
}

.footer-icon {
  margin-left: 0.5rem;
}

.footer-rights {
  font-family: "Fira Sans";
  font-size: 11px;
  font-weight: 300;
  color: #a9afb6;
  line-height: 1.5;
  padding-top: 4.3rem;
}