body {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  line-height: 1;
  background-size: 50%; 
  background-color: #eaebf0;
  background-image: url('./img/background.png');
  background-repeat: repeat;

  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}

.bg-complex {
  background: white;
}

.header {
  background-color: white;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header-nav {
  text-align: right;
  margin-left: auto;
}

.header-link {
  margin-right: 1.5rem;
  font-size: 1rem;
  color: #3e4247;
  text-decoration: none;
}

.header-link:last-child {
  margin-right: 0;
}

.header-logo {
  height: 1.5rem;
}

.footer {
  background-color: #111111;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-heading {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  color: #646971;
  margin-top: 0;
  margin-bottom: 0.9rem;
  font-weight: bold;
  line-height: 1.5;
  font-weight: 700;
}

.footer-info {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: 300;
  color: #a9afb6;
  margin-bottom: 1rem;
}

.footer-nav {
  border-top: solid 2px #3e4247;
  padding-top: 1rem;
}

.footer-link {
  display: block;
  text-decoration: none;
  font-family: "Fira Sans";
  font-size: 0.875rem;
  font-weight: 300;
  color: white;
  margin-bottom: 1rem;
}
.footer-margin {
  margin-top: 1.5rem;
}

.footer-icon {
  margin-left: 0.5rem;
}

.footer-rights {
  font-family: "Fira Sans";
  font-size: 11px;
  font-weight: 300;
  color: #a9afb6;
  line-height: 1.6;
  padding-top: 4.5rem;
}

