body {
  background-color: #eaebf0;
  background-image: url(./img/background.png);
  background-repeat: repeat;
  background-size: 50%;
}

.development {
  background-color: #161616;
  text-align: center;
}

.development-logo {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.discover-heading {
  margin-top: 4rem;
  margin-bottom: 0;
  font-weight: bold;
  color: #3e4247;
  font-family: "Fira Sans";
  font-size: 1.5rem;
}

.discover-info {
  margin-top: 0.5rem;
  font-family: 'Fira Sans';
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #3e4247;
}

.discover-button {
  background-color: black;
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Fira Sans', sans-serif;
  font-size:1rem;
  text-align: center;
  color: white;
  border: 0;
}

.card {
  display: flex;
  background-color: white;
  margin-bottom: 3rem;
  text-decoration: none;
}

.hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card-details {
  border-bottom: 2px solid #646971;
}

.card-district {
  text-transform: uppercase;
  color: #646971;
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  font-family: "Monaco", "Menlo", "Consolas", monospace;
  font-size: 1rem;
}

.card-address {
  color: #000000;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  font-family: "Fira Sans";
  font-weight: bold;
  font-size: 40px;
  line-height: 1.4;
}

.card-text {
  margin-left: 2rem;
  margin-right: 5.375rem;
  color: #3e4247;
  font-family: "Fira Sans";
  line-height: 1.5;
}

.card-img {
  width: 484px;
  height: 350px;
}